.containerDetail {
    display: flex;
    margin: 55px 55px;
    
}

.containerDetail .imgProduct {
    width: 40%;
    text-align: center;
    transform: rotateY(0deg);
    transition: transform 1s;
}

.containerDetail .imgProduct:hover {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.containerDetail .detailProduct {
    margin: 30px 55px;
    padding: 15px 15px;
    height: 100%;
    width: 60%;
    /* border-left: 1px solid black; */
}

.containerDetail .detailProduct .sizeList {
    margin: 15px 0;
}

.containerDetail .detailProduct .price {
    color: #f5202b;
    font-size: 20px;
    font-weight: 600;
}

.orderButton {
    background-color: #ff9298;
    transition: 0.5s;
}

.orderButton:hover {
    background-color: #f81420;
    transition: 0.5s;
}